:root {
    --border-padding-left-right: 10px;
    --content-margin-left-right: 20px;
}

.eth-background {
    background-image: url('/images/ethblaze.gif');
    background-size: contain;  /*Adjust as needed (cover, contain, etc.) */
    background-position: 80% 20%;  /*Adjust as needed (center, top left, etc.) */
    background-repeat: no-repeat;/* Prevent tiling */
    height: 100vh;  /*Set height to 100% viewport height */
    width: 100vw;  /*Set width to 100% viewport width */
}

body {
    background-color: rgba(21, 20, 19,1);
    color: rgba(249, 33, 178,1);
}

.border.border-white.rounded {
    width: fit-content;
                padding-left: var(--border-padding-left-right);
                padding-right: var(--border-padding-left-right);
                border-width: 12px; /* Adjust border thickness */
                border: 10px solid white;
                border-radius: 15px;
                margin-bottom: 10px;
}

@font-face {
  font-family: 'RetroFont';
/*  src: url('webfont.eot'); *//* IE9 Compat Modes *//*
  src: url('webfont.eot?#iefix') format('embedded-opentype'), *//* IE6-IE8 *//*
       url('webfont.woff2') format('woff2'), *//* Super Modern Browsers *//*
       url('webfont.woff') format('woff'), *//* Pretty Modern Browsers */
       /*url('webfont.svg#svgFontName') format('svg');  Legacy iOS */
       src: local('computer_pixel-7.ttf') format('truetype');
       font-weight: bold;
}

.text-left {
    text-align: left;
    margin-left: 0;
    margin-right: 0;
}
/*.title {
    font-size: 64px;
    font-family: RetroFont, sans-serif;
    margin-bottom: 100px;
    font-style: normal;
}*/

.title {
  font-size: 154px;
  font-family: "Modak", sans-serif;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 50px;
}

.content {
  font-family: "Spicy Rice", sans-serif;
  font-size: 25px;
  font-style: normal;
  margin-left: var(--content-margin-left-right);
}

.values-style{
  color: white; /*replace only the coloring*/
}

.player-container {
  margin-top: 20px;
  margin-left: calc(var(--border-padding-left-right) + var(--content-margin-left-right));
}
