
<div th:fragment="blockData">
    <p class="fragment-title fragment-style " > Ethereum current block stats... <span> </span></p>

    <p class="fragment-style fragment-contents border border-white rounded">Last Block Number: <span th:text="${blockNum}" class="values-style"> </span></p>
    <p class="fragment-style fragment-contents border border-white rounded">Last Block Hash: <span th:text="${blockHash}" class="values-style"> </span></p>
    <p class="fragment-style fragment-contents border border-white rounded">Last Block TimeStamp: <span th:text="${blockTime}" class="values-style"> </span></p>
    <p class="fragment-style fragment-contents border border-white rounded">Last Block Miner: <span th:text="${blockMiner}" class="values-style"> </span></p>
    <p class="fragment-style fragment-contents border border-white rounded">Last Block Transactions: <span th:text="${blockTrans}" class="values-style"> </span></p>
    <p class="fragment-style fragment-contents border border-white rounded">Last Transaction Gas Fee: <span th:text="${gasGwei + ' gwei'}" class="values-style"></span></p>
    <p class="fragment-style fragment-contents border border-white rounded" th:if="${usdPrice}">Last Ethereum price in USD on-chain using Chainlink oracles: <span th:text="'$' + *{usdPrice}" class="values-style"> </span></p>
    <p class="fragment-style fragment-contents border border-white rounded" th:unless="${usdPrice}">Last Ethereum price in USD on-chain using Chainlink oracles: <span th:text="'Not Available'" class="values-style"></span></p>
    <p class="fragment-style fragment-contents border border-white rounded" th:if="${withdrawals}">Last Block Proof-of-Stake rewards/withdrawals from nodes: <span th:text="*{withdrawals} +' Ethereum' +'   ($' + *{withdrawalsInSelectUnit} + ')'" class="values-style"> </span></p>
    <p class="fragment-style fragment-contents border border-white rounded" th:unless="${withdrawals}">Last Block Proof-of-Stake rewards/withdrawals from nodes: <span th:text="'Not Available'" class="values-style"></span></p>
</div>