<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <script th:src="@{/htmx.min.js}"></script>
    <!--<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"/>-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10&family=Jersey+15&family=Aladin&family=Spicy+Rice&family=Modak&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/homePage.css}"/>
</head>


<body class="eth-background">
<h1 class="title" th:text="${homePageTitle}"></h1>
<div hx-get="/blockdatafragment" hx-trigger="load, every 10s" hx-swap="innerHTML" style="text-align: left">
    <div id="blockData">
        <div th:replace="~{blockDataFragment :: blockData}"></div>
    </div>

</div>
<img src="/images/ethblaze.gif" alt="EthLogo" class="spin-eth">
<div class="player-container">
    <iframe
            width="512"
            height="288"
            src="https://www.youtube.com/embed/4xDzrJKXOOY?autoplay=1&amp;enablejsapi=1&amp;origin=https%3A%2Flofimusicradio.com&amp;widgetid=1"
            title="synthwave radio ? - beats to chill/game to"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen>
    </iframe>
</div>
</body>
</html>